.cantor-card {
  max-width: 400px;
  margin: 32px auto;
  padding: 20px;
}

.cantor-form {
  display: flex;
  flex-direction: column;

}

.form-full-width {
  padding: 10px;
  width: 100%;
  margin-bottom: 16px;
}

button {
  margin-top: 16px;
  align-self: center;
}

mat-icon {
  margin-right: 8px;
}
